.chat {
    position: absolute;
    width: 100%;
}
.chat ul {
    justify-content: flex-end;
    flex-direction: column;
    padding: 4px;
    background: rgb(250, 249, 249);
    list-style-type: none;
    height: calc(100vh - 225px);
    overflow: auto;
    margin: 0px 0px 15px 0px;
}

.chat li {
    margin: 4px 0;
    padding: 4px;
    width: 100%;
    display: inline-block;
}

.chat p {
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
}

.dokter {
    display: flex;
    justify-content: space-evenly;
}
.patient {
    display: flex;
    justify-content: space-evenly;
}
.dokter > p {
    float: left;
    background-color: white;
}
.patient > p {
    float: right;
    background-color: rgb(4, 182, 4);
}